@import url("/Styles/header.css");
@import url("/Styles/banner.css");

:root{
    --texto-branco:#FFF;
}


body{
    background-image: url("/imagens/bgtop.png");
    background-repeat: no-repeat;
    background-color: #000;
    background-size: 90vw 110vh;
    background-position-x: 50%;
    font-family: "Inter", system-ui;
}
