
.Banner-container{
    backdrop-filter: blur(3px);
    width: 556px;
    height: 472px;
    padding: 20px;
    margin-left: 15vw;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    align-items: top;
    gap: 15vw;
}

.Banner-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 20px;
}

.Banner-text__text{
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.Banner-text__button{
    background: none;
    border: none;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        transition: 100ms;
    }
    &:active{
        transform: scale(0.95);
        transition: 100ms;
    }
}


/*================= view more ================*/

.Banner__update{
    background-image: url("/imagens/Updatebg.png");
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}

.Banner__update__title{
    color: var(--texto-branco);
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 20%;
    padding-top: 20px;
}

.Banner__update__ButtonList{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Banner__update__Button{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    background-image: url("/imagens/List.png");
    background-size: contain;
    width: 370px;
    height: 79.8px;
    background-repeat: none;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        transition: 100ms;
    }
    &:active{
        transform: scale(0.95);
        transition: 100ms;
    }
}

.Banner__update__Button-icon{
    width: 46px;
    height: 46px;
}

.Banner__update__Button-title{
    color: var(--texto-branco);
    font-size: 1.125rem;
    margin-bottom: 10px;
}

.Banner__update__Button-subtitle{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8125rem;
}

.Banner__update__view-more{
    background: none;
    border: none;
    cursor: pointer;
    &:hover{
        transform: scale(1.05);
        transition: 100ms;
    }
    &:active{
        transform: scale(0.95);
        transition: 100ms;
    }
}

